
/*Portada*/
/* .v-main{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(72,156,179,1) 0%, rgba(107,169,153,1) 53%); }*/
    .v-main{
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(72,156,179,1) 0%, rgba(107,169,153,1) 100%);
    }

.titulos{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 56px !important;
    letter-spacing: -0.02em !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    padding-top: 164px;
}

.subtitulo{
    text-align: center;
    color: rgba(255, 255, 255, 0.548);
    padding-left: 39%;
    padding-bottom: 12%;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100 !important;
}

.tfbusqueda{
    color: rgba(41, 41, 41, 0.959);
    padding: auto;
    width: 490px;
    height: 40px;
    padding-left: 10%;
    
}

.v-input{
    margin-left: 55%;
}

.v-btn{
    margin-left: 42.5%;
}

.iftitle{
    color: rgba(255, 255, 255, 0.801);
    margin-left: 0%;
    font-weight: 300 !important;
    font-size: 16px !important;
    letter-spacing: -0.02em !important;
    font-family: 'Roboto', sans-serif !important;
}
ul{
    width: 100%;
    float: left;
}

.mt
{margin-top: 40px;}

.cardf{   
    float: left;
    padding: 10px;
    box-shadow: 15px 30px rgba(15, 15, 15, 0);
    margin: 40px 10px 3px 14px;
    width: 203px;
    height: 240px;
    
}


li{
    width: 100%;
    text-align: left;
    list-style: none;

}

.grey--text{
    color: rgba(255, 255, 255, 0.801);
    margin-left: 0%;
    font-weight: 300 !important;
    font-size: 12px !important;
    letter-spacing: -0.02em !important;
    font-family: 'Roboto', sans-serif !important;
}
.grey--textb{
    color: rgba(41, 40, 40, 0.801);
    font-weight: 400 !important;
    font-size: 12px !important;
    letter-spacing: -0.02em !important;
    font-family: 'Roboto', sans-serif !important; 
}

.headliner{
    color: rgba(22, 21, 21, 0.801);
    text-align: left;
    font-weight: 400 !important;
    font-size: 17px !important;
    letter-spacing: -0.02em !important;
    font-family: 'Roboto', sans-serif !important;
    
}

.h1card{
    text-align: center;
    font-weight: 500 !important;
    font-size: 21px !important;
    letter-spacing: -0.02em !important;
    font-family: 'Roboto', sans-serif !important;
    color: rgba(229, 231, 231, 0.651);
    
}

.h1cardid{
    padding-left: 42%;
    font-weight: 500 !important;
    font-size: 21px !important;
    letter-spacing: -0.02em !important;
    font-family: 'Roboto', sans-serif !important;
    color: rgba(229, 231, 231, 0.651);
    
}




